<div align="center">
  <img src="https://capsule-render.vercel.app/render?type=waving&color=auto&height=200&section=header&text=Welcome%20to%20my%20Profile!&fontSize=70" width="100%" />
</div>

<div align="center">
  <img src="https://github-readme-shortener.vercel.app/api?username=chinhdinh11200&theme=radical" alt="GitHub Readme Shortener" />
  <br/>
  <img src="https://komarev.com/ghpvc/?username=chinhdinh11200&color=blue" alt="Visitor Count" />
</div>

<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username=chinhdinh11200&show_icons=true&theme=radical&hide_border=true" alt="Anurag's GitHub stats" />
  <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=chinhdinh11200&layout=compact&theme=radical&hide_border=true" alt="Top Langs" />
</p>

---

### 🐍 Snake Game
<div align="center">
  <img src="https://raw.githubusercontent.com/chinhdinh11200/chinhdinh11200/output/github-contribution-grid-snake-dark.svg" alt="snake gif" width="100%" />
</div>

---

### 🛠️ Tech Stack
<div align="center">
  <img src="https://skillicons.dev/icons?i=git,github,vscode,html,css,js,ts,react,nextjs,tailwind,nodejs,go,docker&theme=dark" />
</div>

---

### 🌦️ Today's Weather in {{ $.TodayWeather.City }}
<div align="center">
  <p><b>{{ formatDate $.TodayWeather.StartTime $.TodayWeather.Timezone }}</b></p>
  <img src="{{ $.TodayWeather.Icon }}" width="100" />
  <h3>{{ $.TodayWeather.Condition }}</h3>
</div>

{{template "hourly-table" $.TodayWeather.HourlyWeathers}}

<details>
<summary><b>📅 Weather Forecast for the Next {{ len .Weathers }} Days</b></summary>
<br/>
{{template "daily-table" .Weathers}}
</details>

<p align="right">
  <i>Updated at: {{formatTime .UpdatedAt}}</i>
</p>

---

### 💻 Connect with me
<p align="left">
<a href="https://github.com/chinhdinh11200" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="chinhdinh11200" height="30" width="40" /></a>
</p>

---

<p align="center">
  <img src="https://quotes-github-readme.vercel.app/api?type=horizontal&theme=radical" alt="GitHub Readme Quotes" />
</p>

<div id="happy-code" align="center">
    <p>Happy code for 2026</p>
    <p>Happy code for 2025</p>
</div>
